.layout {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

/* Área onde as views renderizam */
.conteudo {
  flex: 1;
  display: flex;
  justify-content: center;   /* centraliza horizontal */
  align-items: center;       /* centraliza vertical */
  padding: 40px;
  overflow: auto;
}
