* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


/* CONTAINER */
.catview-container {
  padding: 20px;
  height: 90vh;
  margin-left: 20vw;
  background-color: aqua;

}

.catview-header {
  margin-bottom: 15px;
}

.catview-subtitle {
  color: #666;
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
}

/* BUTTONS */
.catview-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.catview-btn-success {
  background: green;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.bnt-voltar{
  background: #000000;
  color: rgb(255, 255, 255);
  padding: 10px 17px;
  border: none;
  border-radius: 6px;
  cursor: pointer;

}
.catview-btn-danger {
  background: #8b2e2e;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


/* CATEGORIES */
.catview-category-container {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

}

.catview-category-box {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 220px;
  border: 1px solid #ddd;
  transition: 0.2s;

}

.catview-category-box:hover {
  transform: translateY(-2px);
}