* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


.btn-add {
  background: green;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-bk{
  background: black;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


/* CONTENT */
.content {
  flex: 1;
  background: #f5f5f5;
  margin: 20px;
  border-radius: 20px;
  padding: 30px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.subtitle {
  color: #666;
  font-size: 14px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.btn-success {
  background: green;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-danger {
  background: #8b2e2e;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-dark {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

/* CATEGORIES */
.category-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.category-box {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 220px;
  border: 1px solid #ddd;
}

.product-mini {
  background: #f1f1f1;
  padding: 5px;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 13px;
}

/* PRODUCTS */
.product-list {
  margin-top: 20px;
}

.product-item {
  background: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 320px;
}

.modal input,
.modal select {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

.remove-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.close-btn {
  margin-top: 10px;
  background: #ccc;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-actions {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.icon.edit:hover {
  transform: scale(1.2);
}

.icon.delete:hover {
  transform: scale(1.2);
}